@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  background: linear-gradient(35deg, rgb(6, 6, 41), rgb(3, 3, 153));
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background: linear-gradient(35deg, rgb(6, 6, 41), rgb(3, 3, 153));
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.75em;
  color: whitesmoke;
  padding-left: 10vw;
  padding-top: 5vh
}

nav {
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(35deg, rgb(6, 6, 41), rgb(3, 3, 153));
  color: whitesmoke;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10vw;
}

.nav-item {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 2em;
  font-variant: small-caps;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 250ms;
}

.nav-item:hover {
  transform: scale(1.2);
}

.content-wrapper {
  padding: 1.25em;
  background: linear-gradient(145deg, whitesmoke, lightgrey);
  font-family: 'Red Hat Display', sans-serif;
}

.hidden {
  display: none;
}

#content-default, #projects, #bio, #contact {
  border: 2px solid rgb(3, 3, 153);
  border-radius: 10px;
  padding: 10px;
  box-shadow: black 2px 2px 4px;
  line-height: 1.5em;
}

.project {
  height: auto;
  background: linear-gradient(to bottom, whitesmoke, lightgrey);
  display: grid;
  grid-template-columns: auto, 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  grid-template-areas: 
    "projectName codeLink";
  align-items: center;
  margin-bottom: 5px;
  padding: 0.75em 2em;
  box-shadow: rgb(3, 3, 153) -2px 3px 5px;
}


#content-default {
  text-align: center;
}

.project-name, .project-link {
  grid-area: projectName;
  justify-self: left;
  font-size: 1.5em;
  line-height: 1.12em;
  text-decoration: none;
}

.project-link, .code-link {
  transition: transform 300ms;
}

.project-link:hover {
  transform: scale(1.12);
}

.code-link:hover {
  transform: scale(1.75);
}

.code-link {
  grid-area: codeLink;
  justify-self: right;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  transition: transform 300ms;
}

#bio, #contact {
  font-size: 1.25em;
}

footer {
  background: linear-gradient(35deg, rgb(6, 6, 41), rgb(3, 3, 153));
  color: whitesmoke;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 15vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  justify-content: center;

}

.footer-text, #site-title-footer {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif; 
}

.footer-text {
  font-style: italic;
}

@media (min-width: 375px) {
  h1 {
    padding-left: 15vw;
  }
  
  .nav-item {
    font-size: 1em;
  }

  .nav-list {
    margin-left: 15vw;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 4.5em;
  }

  .nav-item {
    font-size: 1.5em;
  }

  #projects, #bio, #contact {
    max-width: 80%;
    position: relative;
    left: 5vw;
  }
}

@media (min-width: 768px) {
  .nav-item {
    font-size: 2em;
  }
}