*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background: linear-gradient(35deg, rgb(6, 6, 41), rgb(3, 3, 153));
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.75em;
  color: whitesmoke;
  padding-left: 15vw;
  padding-top: 5vh
}

nav {
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(35deg, rgb(6, 6, 41), rgb(3, 3, 153));
  color: whitesmoke;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
}

.nav-item {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
  font-variant: small-caps;
  font-size: 1.12em;
  cursor: pointer;
}

.content-wrapper {
  padding: 1.25em;
  background: linear-gradient(145deg, whitesmoke, lightgrey);
  font-family: 'Red Hat Display', sans-serif;
  min-height: 300px;
}

.hidden {
  display: none;
}

#projects, #bio, #contact {
  border: 2px solid rgb(3, 3, 153);
  border-radius: 10px;
  padding: 10px;
  box-shadow: black 2px 2px 4px;
}

.project {
  line-height: 1.5em;
}

footer {
  background: linear-gradient(35deg, rgb(6, 6, 41), rgb(3, 3, 153));
  color: whitesmoke;
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding: 1em;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  line-height: 1.25em;
}

@media (min-width: 548px) {
  h1 {
    font-size: 4.5em;
  }

  .nav-item {
    font-size: 1.5em;
  }
}